<tbody>
    <% Choice.all.each do |choice| %>
    
    <div class="col-sm-6 col-md-4">
        <h3 style="text-align:center;"><%= choice.description %></h3>
        <% if choice.images.attached? %>
           <%= image_tag(choice.images, size:"250*300") %>
        <% end %>
        <div class="caption" style="text-align:center;">
                <%= button_to like_choice_path(choice), method: :put, remote: true , class: 'btn btn-primary' do %>
            Vote
                <spam class="badge"><%= choice.get_upvotes.size%></spam>
            <% end %>
        </div>      
    <% end %>
