<body>
<div class="header">
  <div>
      <h1>Help Me Decide!</h1>
      <div>
      <p1>Vote 
          <b>Anytime, Anywhere</b></p1>
      </div>
      </div>
</div>
    
</body>

<h1>proj-team 28</h1>
<p>
<%= image_tag "lyh.jpg", size: "250x250" %></p>
<p>Yanhao Li</p>
<p><%= image_tag "sw.jpg", size: "250x250" %></p>
<p>Sixuan Wang</p>
<p><%= image_tag "lyn.jpg", size: "250x250" %></p>
<p>Yaning Ling</p>