// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-upload{
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;
  input[type='text']{
    width: 100%;
  }
}

.posts{
  margin: 50px 180px 10px;
  .post{
    border: 1px solid #f5efef;
    margin: 60px 0;
    border-radius: 3px;
    .user{
      border-bottom: 1px solid #f5efef ;
      display: flex;
      .avatar{
        width: 30px;
        margin: 8px;
        img{
          width: 100%;
          border: 1px solid #efefef;
          border-radius: 50%;
        }
      }
      .username{
        padding-top: 13px;
        color: #262626;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .main-image{
      width: 100%;
      border-bottom: 1px solid #f4f4f4;
    }
    .description{
      font-size: 25px;
      padding: 20px;
    }
  }
}

.post-show{
  margin: 30px 5px 0;
  border: 1px solid #dbdbdb;
  .col-md-8{
    padding: 0;
    .image{
      width: 100%;
    }
  }
  .user{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    .avatar{
      width: 40px;
      height: 40px;
      margin: 8px;
      img{
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        border-radius: 50%;
      }
    }
    .username{
      padding-top: 15px;
      color: #262626;
      font-size: 14px;
      font-weight: 600;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .description{
    font-size: 25px;
    padding: 15px 0;
      max-width:100%;
  }
}

.delete{
  padding-top: 20px;
  a{
    font-size: 15px;
    text-decoration: underline;
  }
}

.d1{
    width:100%;
    font-size: 15px;
    clear:both;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*{
      font-family: 'Poppins', sans-serif;
       -webkit-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
    }
    .img {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
        width: 22rem;
    }
    


    .movie_card{
      padding: 0 !important;
      width: 22rem;
      margin:14px; 
      border-radius: 10px;
      background:rgba(255,255,255,1);
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5), 0 4px 15px 0 rgba(0, 0, 0, 0.5);
    }
 .movie-card:hover {
 transform: scale(1.02);
 transition: all 0.4s;
  }
    .movie_card img{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 33rem;
    }

    .movie_info{
      color: #5e5c5c;
    }

    .movie_info i{
      font-size: 20px;
    }
    .card-title{
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      height: 4rem;
      font-size: 20px;
    }
    .play_button{
      background-color: #ff3d49;
        position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      right: 20px;
      bottom: 111px;
      font-size: 27px;
      padding-left: 21px;
      padding-top: 16px;
      color: #FFFFFF;
      cursor: pointer;
    }

    .credits{
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 2px solid #8e24aa;
      font-size: 18px;
    }
    .credits .card-body{
      padding: 0;
      
    }
    .credits p{
      padding-top: 15px;
      padding-left: 18px;
    }
    .credits .card-body i{
      color: #8e24aa;
    }

.btn-container {
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.btn-container .btn-holder {
  display: flex;

    margin: 60px auto;

    flex-wrap: wrap;
    justify-content: center;
}

.button1{
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
   background: #3498db;
  font-weight: 100;
}

 .button1:hover,
  .button1:focus { 
    background: #3498db;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #74e6e0;
  text-decoration: none;
  text-shadow: -1px -1px 0 #136a65;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
  }